* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --lightCyan: hsl(179, 47%, 52%);

  --cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);

  /* Neutral */
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}

html {
  font-size: 18px;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--lightGray);
}
.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  width: 65vw;
  height: 50vh;
}
.container div {
  padding: 1.1rem;
}

.grid1 {
  background-color: #fff;
  border-radius: 0.4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.grid1 h1 {
  color: var(--cyan);
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.grid1 p {
  color: var(--grayishBlue);
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding-bottom: 1rem;
}

.grid1 h3 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--brightYellow);
  padding-bottom: 1rem;
}

.grid2 {
  background-color: var(--cyan);
}

.grid2 h3 {
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.grid2 h2 {
  color: var(--lightGray);
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.grid2 h2 span {
  color: hsl(179, 54%, 55%);
  font-size: 1rem;
  font-weight: 400;
}

.grid2 p {
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.grid2 button {
  font-family: "Karla", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 3px;
  color: #fff;
  background-color: var(--brightYellow);
  box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.27);
}
.grid3 {
  background-color: var(--lightCyan);
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.grid3 h3 {
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.grid3 p {
  color: var(--lightGray);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
}
/* Media Queries */
@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid1 {
    grid-column: 1/-1;
  }

  .grid2 {
    border-radius: 0.4rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .grid3 {
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}
